@import "../../styles/variables.scss";
.cart {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5rem auto;
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .product {
    display: flex;
    padding: 1.2rem 0;
    width: 100%;
    border-top: 1px solid $c-greyLow;
    justify-content: space-between;
    align-items: center;
    .info {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      & > h1:nth-child(1) {
        font-weight: 600;
        font-size: 1.875rem;
      }
      & > a:nth-child(2) {
        h1 {
          font-size: 1.875rem;
          font-weight: 400;
        }
      }
      & > h1:nth-child(3) {
        font-weight: 700;
        font-size: 1.5rem;
      }
      .attributes {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        & > * {
          display: grid;
          padding: 1rem 1.2rem;
          place-content: center;
          border: 1px solid $c-black;
          flex: 1;
          cursor: pointer;
        }
        .itemActive {
          background-color: $c-black;
          color: $c-white;
        }
      }
    }
    .action {
      display: flex;
      gap: 1rem;
      & > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        img {
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
      & > div:last-child {
        width: 11.5rem;
        aspect-ratio: 1/1.2;
        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
  }
  & > button {
    font-family: "Raleway", sans-serif;
    width: max-content;
    align-self: flex-end;
    min-width: max-content;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 2.25rem;
    border: none;
    background-color: $c-primary;
    color: $c-white;
    transition: all 0.3s ease;
    &:hover {
      background-color: $c-white;
      color: $c-primary;
      outline: 2px solid $c-primary;
    }
    &:active {
      transform: scale(0.98);
    }
  }
  .empty {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
  }
}
