//colors
$c-black: #1d1f22;
$c-white: #fff;
$c-primary: #5ece7b;
$c-grey: #8d8f9a;
$c-greyLow: #e5e5e5;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed&display=swap");

$f-primary: "Raleway", sans-serif;
$f-secondary: "Roboto Condensed", sans-serif;
