@import "../../styles/variables.scss";
.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 90vw;
  & .dark {
    background-color: $c-black;
    color: $c-white;
  }
  .title {
    align-self: flex-start;
    font-weight: 400;
    font-size: 2.5rem;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 3rem;
  }
}
