@import "../../styles/variables.scss";
.product {
  width: 90%;
  height: calc(100vh - 80px - 10rem);
  margin: 5rem auto;
  display: flex;
  gap: 2rem;
  h2 {
    font-family: "Roboto Condensed", sans-serif;
  }
  .carrousel {
    display: flex;
    flex-direction: column;
    width: 5rem;
    gap: 2rem;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow-y: scroll;
      &:hover {
        outline: 1px solid black;
      }
    }
  }
  .mainPicture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    flex: 3;
  }
  .info {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    .price {
      font-size: 2rem;
      font-weight: 700;
    }
    .button {
      background-color: $c-primary;
      color: $c-white;
      border: none;
      padding: 1rem;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: $c-white;
        color: $c-primary;
        outline: 2px solid $c-primary;
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .disable {
    background-color: $c-primary;
    color: $c-white;
    cursor: not-allowed;
    filter: grayscale(100%);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.active {
  outline: 1px solid black;
}
.colorActive {
  border: 2px solid black;
}
.itemActive {
  background-color: $c-black;
  color: $c-white;
}
